@{ 
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="famiLYNX">
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/angular/scripts/app.js"></script>
    
    <script>
        angular
            .module('famiLYNX')
            .constant('routeUrls', {
                registerUser: '@Url.HttpRouteUrl("RegisterUser", null)',
                userApi: '@Url.HttpRouteUrl("CurrentUser", null)',
                updateUser: '@Url.HttpRouteUrl("UpdateUser", null)',
                famApi: '@Url.HttpRouteUrl("Families", null)',
                selFamApi: '@Url.HttpRouteUrl("SelectedFamily", null)',
                famsOwnedApi: '@Url.HttpRouteUrl("OwnedFamilies", null)',
                famsPost: '@Url.HttpRouteUrl("CreateUpdateFamily", null)',
                famsDelete: '@Url.HttpRouteUrl("DeleteFamily", null)',
                convoApi: '@Url.HttpRouteUrl("Conversations", null)',
                msgApi: '@Url.HttpRouteUrl("Messages", null)',
                invApi: '@Url.HttpRouteUrl("InviteOrPleas", null)',
                logOut: '@Url.HttpRouteUrl("Logout", null)',
                invPost: '@Url.HttpRouteUrl("invPost", null)'
            })
    </script>
    <script src="~/angular/scripts/accountService.js"></script>
    <script src="~/angular/scripts/profileService.js"></script>
    <script src="~/angular/scripts/CreatorService.js"></script>
    <script src="~/angular/scripts/profileController.js"></script>
    <script src="~/angular/scripts/loginController.js"></script>
    <script src="~/angular/scripts/registerController.js"></script>
    <script src="~/angular/scripts/familyController.js"></script>
    <script src="~/angular/scripts/profileController.js"></script>

</head>

<body class="body-content">
    <div class="container">
        <ng-view></ng-view>
    </div>
</body>

</html>
